<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <!--<app-nav-menu></app-nav-menu>-->
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
      <button type="button" class="btn btn-primary" (click)="extractRecord()" [disabled]="isextractDisabled? true:null">
        Extract
      </button>
      <button type="button" class="btn btn-primary" (click)="deleteRecord()" [disabled]="isdeleteDisabled? true:null">
        Delete
      </button>
      <div *ngIf="loader"> loading...</div>
    </div>
  </div>
</div>
